:root{ background-color: black;
    --cor-de-fundo: 
    
}

body{
    background-color: var(--cor-de-fundo);
    font-size: var(--fonte-tamanho-padrao);
    font-weight: 400;
}

h1{
    background-color:  var(--branco);
}

